# IMPORTANT: this .gitignore is whitelisting items instead of blacklisting them!

# First, ignore everything
*
# But unignore this very file
!.gitignore
# Now, whitelist anything that's a directory
!*/
# add all the file types you're interested in.
!*.md
!*.dfstock
# ignore foreign directories
# - readme.md
stonesense/
blueprints/
# - *.dfstock
stocksettings/Gems/
stocksettings/Magma Safe/
stocksettings/MechGuides/
